.contain{
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;
}
.filtre{
    background-color: #6a7f8f50;
    width: 30%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 50px;
    border-bottom-right-radius: 70px;
}
.liste{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    padding: 20px;
    gap: 20px;
}
.filtre label{
    font-weight: 500;
    font-size: 20px;
    color: black;
}
.filtre h2{
    scale: 1.2;
    font-weight: 500;
}
.filtre input{
    margin-top: 8px;
    width: 100%;
    height: 2.5vh;
    border-radius: 7px;
    padding: 10px;
    border: none;
    font-size: 15px;
}
.filtre input:focus{
    border-color: #FF5A5F;
    outline: 0;
    box-shadow: 2px 2px 2px 1px #FF5A5F;
}
.filtre select{
    width: 50%;
    height: 4.5vh;
    border-radius: 7px;
    padding: 10px;
    border: none;
}
.prix {
    display: flex;
    justify-content: space-around;
}
.prix input{
    width: 40%;
}
.filtre button{
    width: 40%;
    margin-top: 5%;
    margin-left: 30%;
    padding: 10px;
    border: 1px solid #FF5A5F;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    background-color: #FF5A5F;
}
.filtre button:hover, .etat button:hover{
    background-color: #ff4248;
  }
.item{
    position: relative;
    background-color: white;
    width: 97%;
    height: 25vh;
    border-radius: 60px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
    display: flex;
    justify-content:space-between;
    padding: 20px;
    gap: 20px;
}
.pics{
    height: 100%;
    width: 20%;
    border-radius: 40px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.pics img{
    scale: 1;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 50px;
}
.infos, .espece, .etat{
    height: 90%;
    width: 20%;
    padding: 10px;
}
.espece-info{
    display: none;
    position: absolute;
    margin-left: 31.5vw;
    margin-top: -2.5vh;
    background: rgb(238, 236, 236);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    width: 250px;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}
.espece{
    display: flex;
    justify-content: center;
    align-items: center;
}
.espece img{
    object-fit: cover;
    width: 90%;
    height: 100%;
    border-radius: 40px;
}
.espece, .etat{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    object-fit: cover; 
}
.infos, .etat{
    border-right: 3px solid lightgray;
}
.etat h2{
    margin-right: 6vh;
}
.infos h3, .espece-info h4{
    font-weight: 300;
}
#lien-espece{
    cursor: pointer;
    font-weight:500;
    color:gray;
}
#lien-espece:hover{
    color: #FF5A5F;
}
.etat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.etat button{
    width: 10vw;
    padding: 10px;
    border: 1px solid #FF5A5F;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    background-color: #FF5A5F;
    margin-left: -3vw;
}