@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(233, 227, 215, 0.445);

  }
  main{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container-div{
    padding: 50px;
    background-color: rgb(233, 227, 215);
    height: 60%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.06);
    border: 1px solid lightgray;
  }
  img{
    max-width: 250px;
  }
  h1{
    margin-top: -5px;
  }
  label{
    padding-left: 1px;
    font-weight: 500;
    font-size: 17px;
    color: gray;
  }
  input[type="text"], input[type="password"]{
    width: 100%;
    height: 15%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    margin-right: 5px;
    border: none;
    font-size: 20px;
  }
  input[type="text"]:focus, input[type="password"]:focus{
    border-color: #FF5A5F;
    outline: 0;
    box-shadow: 2px 2px 2px 1px #FF5A5F;
  }
  button{
    width: 40%;
    margin-top: 15px;
    margin-left: 30%;
    padding: 10px;
    border: 1px solid #FF5A5F;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    background-color: #FF5A5F;
  }
  button:hover{
    background-color: #ff4248;
  }
  .error{
    margin-top: 6vh;
    padding: 20px;
    background-color:  #fd9b9f93;
    border-color:  #faebcc98;
    color: #8a6d3d;
    height: 5vh;
    width: 90%;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
